<nav id="nav">
    <dl>
        <dt class="nav">
            <i class="iconfont icon-xitong"></i>父菜单一
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/dashboard" data-page="dashboard">子菜单一</a></li>
                <li><a href="/admin/os" data-page="os">子菜单一</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt class="nav">
            <i class="iconfont icon-xitong"></i>父菜单二
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/dashboard" data-page="dashboard">子菜单二</a></li>
                <li><a href="/admin/os" data-page="os">子菜单二</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt class="nav">
            <i class="iconfont icon-xitong"></i>父菜单三
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/dashboard" data-page="dashboard">子菜单三</a></li>
                <li><a href="/admin/os" data-page="os">子菜单三</a></li>
            </ul>
        </dd>
    </dl>
</nav>  